@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    background-color: #fafafa;

}

/* navbar */

.navbar {
    display: flex;
    margin: 0rem auto;
    width: 100%;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-left: 2rem;
}

.navbar-toggle {
    display: none;
}

.navbar-img-container {
    padding-left: 2rem;
}

.navbar-btns {
    display: flex;
}

.navbar-btn {
    font-size: 1.75rem;
    text-decoration: none;
    color: #383833;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    letter-spacing: 0.12rem;
}

/* top section */

.top-section {
    width: 100%;
    display: flex;
    margin: auto;
    background: linear-gradient(180deg, #DEF0D8, #fafafa);
    justify-content: space-between;
}

.top-section-content {
    padding-left: 10rem;
    width: 50%;
    position: relative;
}

.top-section-content>h1 {
    padding-left: 15rem;
    font-size: 8rem;
    color: #383833;
    font-weight: 800;
}

.top-section-content>p {
    letter-spacing: 0.125rem;
    padding-bottom: 1.25rem;
    padding-left: 15rem;
    width: 60%;
    font-size: 2rem;
    margin: 4rem 0;
}

.top-section-btn {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
    border-radius: 0.75rem;
    background-color: #f19a33;
    padding: 1.25rem 2rem;
    margin-left: 20rem;
}

.top-section-content>img {
    position: absolute;
    left: -6rem;
    bottom: -25rem;
}

.top-section-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.top-section-img {
    position: relative;
    width: 70%;
    transform: translate(-5%, -13%);
}

.top-section-ellipse {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #387546;
    clip-path: ellipse(70% 85% at 82% 14%);
}


/* About us*/

.about-us-section {
    display: flex;
    width: 100%;
    margin: 25rem 0;
    margin-bottom: 0;
    padding-bottom: 15rem;
    position: relative;
    align-items: center;
    justify-content: space-around;
    height: 70rem;
}

.about-us-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60%;
    height: 150%;
}

.about-us-ellipse {
    width: clamp(70rem, 80rem, 100rem);
    height: clamp(70rem, 80rem, 100rem);
    background-color: #598463;
    position: absolute;
    left: -35rem;
    z-index: -1;
    border-radius: 500rem;
    top: 10rem;
}

.about-us-img {
    width: clamp(40rem, 50rem, 80rem);
    z-index: 1;
    position: absolute;
    left: 8rem;
    top: 30rem;
}

.about-us-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    z-index: 2;
}

.about-us-content>h3 {
    color: #f19a33;
    font-size: 2.5rem;
    font-weight: lighter;
}

.about-us-content>h2 {
    font-size: 4rem;
    margin: 0rem;
    padding: 2rem 0rem;
}

.about-us-content>p {
    font-size: 1.75rem;
    font-weight: 500;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
}

.about-us-content>a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.75rem;
    background-color: #387546;
    padding: 1.5rem 1.25rem;
    width: 15rem;
    border-radius: 0.75rem;
}

/* Menu Section */

.menu-section {
    display: flex;
    margin-top: 15rem auto;
    flex-direction: column;
    width: 100%;
}

.menu-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.menu-content>h3 {
    color: #f19a33;
    font-size: 2.5rem;
    font-weight: lighter;
}

.menu-content>h2 {
    font-size: 4rem;
    margin: 0rem;
    padding: 2rem auto;
}

.menu-content>p {
    font-size: 1.75rem;
    font-weight: 500;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}

.mobile {
    display: none;
}

.menu-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.menu-elements>div {
    margin: 2rem 2rem;
    width: 20%;
    background-color: #ffffff;
    box-shadow: 4px 04px 2rem -0.75rem;
}


.menu-elements>div>div {
    display: flex;
    justify-content: space-between;
}

.menu-element1,
.menu-element2,
.menu-element3 {
    height: 50rem;
    min-width: 38rem;
}

.menu-element1>.menu-img-container {
    background: url(./images/menu_photo1.png);
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.menu-element2>.menu-img-container {
    background: url(./images/menu_photo2.png);
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.menu-element3>.menu-img-container {
    background: url(./images/menu_photo_3.png);
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.menu-element-content {
    width: 100%;
}

.menu-h4,
.menu-price {
    font-size: 2.5rem;
    margin: 1.5rem auto;
    margin-left: 4rem;
}

.menu-text-desc {
    font-size: 2rem;
    margin: 2.75rem 4rem;
}

/* last section */

.last-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}

.last-section-h2 {
    font-size: 6rem;
    width: 100%;
}

.last-section-img-container {
    margin: 0rem auto;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.last-section-img-container>img {
    margin: 1rem;
    width: 30%;
    box-shadow: 0.4rem 0.4rem 2rem -1rem;
}


/* contact section */

.contact-section {
    margin: 15rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
}

.contact-items {
    background-color: white;
    width: 30rem;
    height: 15rem;
    border-radius: 10rem;
    margin: 1.5rem;
    box-shadow: 1.5rem 2rem 4rem -4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-content {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.contact-content>* {
    margin: auto;
}

.contact-content>h3 {
    padding: 1rem;
    font-size: 1.5rem;
}

.contact-content>p {
    font-size: 1.25rem;
}

/* footer */

.footer {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.footer-img-container {
    padding: 3rem;
    background-color: #fafafa;
    border-radius: 50%;
    overflow: hidden;
}

.footer-img {
    background-color: #fafafa;
    object-fit: contain;
}

.footer-circle {
    position: absolute;
    top: 13rem;
    width: 400rem;
    height: 400rem;
    border-radius: 50%;
    background-color: #387546;
    z-index: -1;
}

.footer-link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.footer-links {
    text-decoration: none;
    color: #fafafa;
    font-size: 2.5rem;
    padding: 4rem;
}

.footer-social-media-container {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-social-media {
    margin: 4rem;
}


/* PHONE */

@media only screen and (max-width: 76rem) {


    /* NAVBAR */
    .navbar-btns {
        display: none;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-toggle-label {
        position: absolute;
        top: 1rem;
        right: 3rem;
        margin: 2rem;
    }

    .navbar-toggle-label span,
    .navbar-toggle-label span::after,
    .navbar-toggle-label span::before {
        display: block;
        background: #383833;
        height: 0.2rem;
        width: 1.5rem;
        border-radius: 0.2rem;
        margin-right: 4rem;
    }

    .navbar-toggle-label span::after,
    .navbar-toggle-label span::before {
        content: '';
        position: absolute;
    }


    .navbar-toggle-label span::after {
        bottom: 0.8rem;
    }

    .navbar-toggle-label span::before {
        bottom: 0.4rem;
    }

    .navbar-toggle:checked~.navbar-btns {
        display: flex;
        flex-direction: column;
        margin: 4rem;
    }

    /* TOP SECTION*/

    .top-section {
        display: flex;
        margin: auto;
        width: 100%;
        height: 100%;
    }

    .top-section-content {
        width: 80%;
        z-index: 1;
    }

    .top-section-content>h1 {
        font-size: 4rem;
        padding: 4rem;
        color: #fafafa;
    }

    .top-section-content>p {
        color: #fafafa;
        padding-left: 4rem;
        width: 80%;
        margin-bottom: 4rem;
    }

    .top-section-content>a {
        margin-left: 5rem;
    }

    .top-section-img-container {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .top-section-ellipse {
        clip-path: none;
        width: 120%;
        position: absolute;
        z-index: 0;
        top: -30rem;
        right: -15rem;
        border-radius: 50%;
        overflow: visible;
    }

    .top-section-img {
        position: absolute;
        right: -35rem;
        top: 0;
        width: 60rem;
    }

    .top-section-content>img {
        display: none;
    }

    /* ABOUT US */

    .about-us-section {
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
        margin-top: 40rem;
    }

    .about-us-content {
        width: 80%;
        margin: 0 0 0 5rem;
    }

    .about-us-content>a {
        margin: 5rem 0 0 0;
    }

    .about-us-ellipse {
        display: none;
    }

    .about-us-img {
        width: 40rem;
    }

    /*  MENU SECTION */

    .menu-section {
        margin: auto auto 10rem auto;
    }

    .menu-h3 {
        margin-bottom: 2rem;
    }

    .menu-h2 {
        padding-bottom: 1rem;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        font-size: 2.5rem;
    }

    .menu-element1,
    .menu-element2,
    .menu-element3 {
        height: 40rem;
        min-width: 35rem;
    }

    .menu-element1>div>h4,
    .menu-element2>div>h4,
    .menu-element3>div>h4 {
        margin: 0 auto;
    }

    .menu-element1>div>p,
    .menu-element2>div>p,
    .menu-element3>div>p {
        margin: 1rem 3rem;
        padding-bottom: 0;
    }


    .menu-element1>div,
    .menu-element2>div,
    .menu-element3>div {
        height: 10%;
    }

    /* LAST SECTION */

    .last-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .last-section-text-container {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .last-section-h2 {
        font-size: 4rem;
    }

    .last-section-img-container {
        display: flex;
        margin-top: 4rem;
    }

    .last-section-img-container>img {
        margin: 0;
        width: 50%;
        box-shadow: 0.4rem 0.4rem 2rem -1rem;
    }
}